.divMain{
    display: flex;
}

#first-column-g{
    width: 25%;
    margin-left: 10px;
}

#first-column button{
    display: block;
}

#result{
    display: grid;
    flex-direction: row;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-right: 10px;
}

img {
    width: 90px;
    height: 90px;
}

.form-nav {
    display: flex;
    margin-right: 60px;
}

.form-control {
    margin-right: 3px;
}

.navbar-brand {
    margin-left: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.navbar {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(116, 209, 116);
}

#result {
    margin-top: 30px;
}

#result div {
    border: 2px solid #015701;
    border-radius: 5%;
}

#result div {
    border: 2px solid #015701;
    border-radius: 5%;
}

#name-card {
    text-align: center;
    padding-top: 7px;
    padding-right: 3px;
    padding-left: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#img-card{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#title-categories{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 17px;
    margin-top: 18px;
}

.divProducts{
    width: 316.23px;
    height: 221px;
}