.navbar {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #015701;
}

.navbar-brand {
    margin-left: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
}

.form-nav {
    display: flex;
    margin-right: 60px;
}

.divMain{
    display: flex;
}

#first-column-g{
    width: 25%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

#title-categories{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 17px;
    margin-top: 18px;
    margin-bottom: 0px;
}


#first-column button{
    display: block;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #e4f7e4;
}

#title-order{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 17px;
    margin-top: 18px;
    margin-bottom: 0px;
}

#orderName{
    font-weight: bold;
    margin-bottom: 5px;
}

.btn-order{
    margin-bottom: 7px;
    margin-right: 8px;
    width: 57px;
    background-color: #e4f7e4;
}

#orderPrice{
    font-weight: bold;
    margin-bottom: 5px;
}

#pagination {
    justify-content: center;
    display: flex;
    margin-top: 23px;
}

#pagination button {
    margin-right: 10px;
    margin-left: 10px;
    border-color: #015701;
    color: #015701;
}

#result{
    display: grid;
    flex-direction: row;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-right: 10px;
    margin-top: 30px;
}

#result div {
    border: 2px solid #015701;
    border-radius: 5%;
}

.divProducts{
    width: 316.23px;
    height: 221px;
}

#name-card {
    text-align: center;
    padding-top: 13px;
    padding-right: 3px;
    padding-left: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#img-card{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 90px;
}

#price-card{
    margin-top: 10px;
    color: rgb(14, 14, 145);
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 3px;
    font-size: 18px;
}

#dscto-card{
    color: rgb(236, 39, 32);
    font-weight: bold;
    margin-left: 20px;
    font-size: 13px;
}

.form-control {
    margin-right: 3px;
}

#btn-search {
    color: white;
    border-color: white
}

#reset{
    width: 50%;
    background-color: #015701;
    color: white;
    margin-top: 15px;
}



.div_hide {
    opacity: 0;
}